@media (max-width: 800px) {
    .container {
      max-width: 80%;
      margin: 4rem 3rem;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
    }
    
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    
    select, input, button {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 600px) {
    .container {
      max-width: 80%;
      margin: 4rem 3rem;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 80%;
      margin: 4rem 3rem;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
    }
  
    .submit-button {
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
  
    form label {
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
  
    .result {
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    
    .result h2, .result h3 {
      color: #2c3e50;
      margin-top: 0;
      font-weight: 700;
      font-size: 1.2rem;
    }
    
    .result p {
      margin: 0.75rem 0;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    
    .result p span {
      font-weight: 700; 
      margin-right: 5px;
      font-size: 1rem;
    }
    
    .result p .status,
    .result p .courier,
    .result p .awb {
      letter-spacing: 0.5px;
      font-weight: normal;
      font-size: 1rem;
    }
    
    h1 {
      font-size: 1.4rem;
    }
    
    select, input, button {
      font-size: 0.9rem;
    }
    
    .history-item {
      padding-left: 1rem;
      font-size: 1rem;
    }
    
    form > div {
      margin-bottom: 0.5rem;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      border-radius: 8px;
      max-width: 80%;
      margin: 4rem 4rem;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
    }
  
    form label {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
  
    .submit-button {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 1px;
    }
  
    .result {
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    
    .result h2, .result h3 {
      color: #2c3e50;
      margin-top: 0;
      font-weight: 700;
      font-size: 1.2rem;
    }
    
    .result p {
      margin: 0.75rem 0;
      display: flex;
      align-items: center;
      font-size: 18px;
    }
    
    .result p span {
      font-weight: 700; 
      margin-right: 5px;
      font-size: 1rem;
    }
    
    .result p .status,
    .result p .courier,
    .result p .awb {
      letter-spacing: 0.5px;
      font-weight: normal;
      font-size: 0.9rem;
    }
    
    h1 {
      font-size: 1.3rem;
    }
  
    h1 i {
      margin-right: 5px;
      color: #afafff;
    }
    
    h2 {
      font-size: 0.7rem;
    }
    
    h3 {
      font-size: 0.5rem;
    }
    
    select, input, button {
      font-size: 0.9rem;
    }
    
    .history-item {
      padding-left: 1rem;
      font-size: 0.9rem;
    }
  
    .tracking-form .react-select__control, .tracking-form .react-select__option  {
      font-size: 0.9rem;
    }
  
    .tracking-form input[type="text"] {
      font-size: 0.9rem;
    }
  }